<nav>
    <a href="/">Fooldal</a> |
    {{#if session.nev}}
        {{#ifEquals session.szerepkor 'admin'}}
            <a href="/create">Letrehoz</a> |
            <a href="/connect">Csatlakoz</a> |
        {{/ifEquals}}
        <span><b>{{session.nev}}</b> van bejelentkezve</span> |
        <a href="/logout">Kijelentkezes</a> |
    {{else}}
        <a href="/login">Bejelentkezes</a> |
        <a href="/registration">Regisztracio</a> |
    {{/if}}
</nav>