<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="/scripts.js"></script>
    <title>Rendezvények</title>
  </head>
  <body>
      {{>navigation}}
      {{{body}}}
  </body>
</html>