<section>
    <h1>Csatlakozás</h1>
    <form name="connect" action="/connect" method="post" enctype="multipart/form-data">
        <br>
        <label for="nev">Szervezo neve:</label>
        <select name="nev" id="nev">
            {{#each felhasznalo}}
                    <option>{{nev}}</option>
            {{/each}}
        </select>
        <br>
        <label for="rId">Rendezveny ID-ja: </label>
        <select name="rId" id="rId">
            {{#each rendezveny}}
                    <option>{{id}}</option>
            {{/each}}
        </select>
        <br>
        <br>
        <br>
        <input type="radio" id="connect" name="muvelet" value="connect" checked>
        <label for="connect">csatlakozas</label>
        <br>
        <input type="radio" id="torol" name="muvelet" value="torol">
        <label for="torol">torles</label>
        <br>
        <br>
        {{#if uzenet}}
            <div>{{uzenet}}</div>
        {{/if}}
        <br>
        <button type="submit">submit</button>
        
    </form>
</section>