<section>
    <h1>Létrehozás</h1>
    <form action="/create" method="POST">
        <label for="inp">Rendeveny neve: </label>
        <input type="text" name="nev">
        <br>
        <label for="date1">Idointervallum: </label>
        <input type="date" name="date1" id="date1">
        <input type="date" name="date2" id="date2">
        <br>
        <label for="hely">Helyszin: </label>
        <input type="text" name="helyszin" id="hely" required>
        <br>
        <br>
        <br>
        <br>
        <button type="submit">Submit</button>
    </form>
    {{#if hiba}}
        <div style="color: red;">{{hiba}}</div>
    {{/if}}

</section>
