<section>
  <h1>Rendezvény részletei: </h1>
  <ul>
  {{#if fenykep}}
    {{#each fenykep}}
      <li>
        <img src="/uploads/{{fileNev}}" height="200"/>
      </li>
    {{/each}}
  {{/if}}
  </ul>
  {{#if session.nev }}
    <h1>Szerkeszt</h1>
    <form method="POST" action="/edit" enctype="multipart/form-data"> 
      <label for="img">Feltoltendo kep: </label>
      <input type="file" name="f1" id="img" required> 
      <br>
      <br>
      <input type="hidden" name="sNev" value="{{ session.nev }}" id="nev">
      <input type="hidden" name="rendId" value="{{ id }}" id="rendId">
      <br>
      <br>
      <br>
      <button type="submit">Submit</button>
    </form>
    {{#if message}}
      <div style="color: red;">
        {{message}}
      </div>
    {{/if}}
  {{/if}}
</section>
