<section>
  <hr>
  <h1>Rendezvények</h1>
  <p>A jelenlegi adatbázisban a következő rendezvények szerepelnek:</p>
  <ol>
    {{#each rendezveny}}
      <li>
          <ul onclick="loadStaff({{id}})">
              <li>A rendezvény neve: <a href="/event/{{id}}">{{nev}}</a></li>
              <li>A rendezvény időpontja: {{kezdet}} - {{veg}}</li>
              <li>A rendezvény helyszíne: {{helyszin}}</li>
          </ul>
          <div id="staff-{{id}}" style="display: none;"></div>
          {{#if ../session.nev}}
          <div id="join-{{id}}">
            {{#if aktualisUserSzervezo}}
            <button onclick="disconnect({{id}})">Visszalepek</button>
            {{else}}
            <button onclick="connect({{id}})">Csatlakozom</button>
            {{/if}}
          </div>
          {{/if}}
          <div id="error-{{id}}"></div>
      </li>
    {{/each}}
  </ol>
</section>
