<section>
    <h1>Bejelentkezés</h1>
    <form name="login" action="/login" method="post">
        <br>
        <label for="nev">Nev:</label>
        <input type="text" id="nev" name="nev">
        <br>
        <label for="jelszo">Jelszo: </label>
        <input type="password" id="jelszo" name="jelszo">
        <br>
        <br>
        <br>
        {{#if uzenet}}
            <div>{{uzenet}}</div>
        {{/if}}
        <br>
        <button type="submit">Submit</button>
        
    </form>     
</section>