<section>
    <h1>Regisztráció</h1>
    <form name="registration" action="/registration" method="post">
        <br>
        <label for="nev">Nev:</label>
        <input type="text" id="nev" name="nev">
        <br>
        <label for="jelszo">Jelszo: </label>
        <input type="password" id="jelszo" name="jelszo">
        <br>
        <label for="szerepkor">Szerepkor: </label>
        <select name="szerepkor" id="szerepkor">
            <option value="admin">Admin</option>
            <option value="user">User</option>
        </select>
        <br>
        <br>
        <br>
        {{#if uzenet}}
            <div>{{uzenet}}</div>
        {{/if}}
        <br>
        <button type="submit">Submit</button>
        
    </form>     
</section>
