/*Adjuk meg a HTML törzsének a háttérszínét, illetve a szöveg színét.*/
body {
    background-color: #330033;
    color: white;
}
/*• Oldjuk meg, hogy a főcím (h1) és al-alcím (h3) színe, háttérszíne, betűtípus-családja legyen egyforma
(a konkrét elemre vonatkozó stílusjegyek megadásával, lehetőleg a stílusjegyek megadásának
ismétlése nélkül).*/
h1,h3{

    color: honeydew;
    background-color: slategray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/*Definiáljunk (és használjunk a HTML oldalon) két különböző stílusú paragrafus-t (p). Használjunk
csak az illető elemre vonatkozó stílusosztályokat (class).*/
p.one{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: lightgray;
    font-size: 16px;
}
p.two{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: lightsalmon;
    font-size: 18px;
}
/*Adjuk meg (kontextussal megadott szelektort használva) egy div elemben elhelyezkedő ul elemen
belüli li elem stílusát (szövegszín, betű stílus: dőlt).
*/


.container{
    border-style: solid
    }
    
.container ul li{
        color: red;
        font-style: italic;
}



/*Definiáljunk egy olyan paragrafus stílust, mely be van keretezve szaggatott vonallal és félig átlátszó. A
szöveg legyen jobbra illetve lefele tolódva a kereten belül (használjuk a padding beállítását).*/
p.special{
    border-style: dashed;
    opacity: 50%;
    padding-top: 10px;
    padding-left: 10px;
}

/*Oldjuk meg CSS3 átmenetek használatával, hogy a bekeretezett paragrafus váljon teljesen láthatóvá
ha fölé visszük az egeret.*/


p.special:hover{
    opacity:100%;
}

/*Általános stílusosztály (osztály, mely nincs ráhúzva egy elemtípusra) segítségével oldjuk meg, hogy
különböző HTML elemek stílusa (szín, betűtípus-család, betű vastagsága, szöveg-díszítése) ugyanaz
legyen. Alkalmazzuk ugyanazt a stílusosztályt az em és h2 elemekre*/
.general{
    color: lightskyblue ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 200;
    text-decoration: skyblue;
}

/*Definiáljuk a táblázat esetén két különböző cella-stílust (a két stílus pepita -lásd sakktábla- minta
szerint váltakozzon).*/

tr:nth-child(even) td:nth-child(even), tr:nth-child(odd) td:nth-child(odd) {
    background: grey;
}
tr:nth-child(odd) td:nth-child(even), tr:nth-child(even) td:nth-child(odd) {
    background: lightslategrey;
}

/* Definiáljunk két különböző hivatkozás (link) típust, melyeknek más és más a színe, szövegdíszítése
ha rámegyünk az egérrel, ha aktív, ha már meglátogattuk.
*/
a.one:link{
    color: red;
    font-style: normal;
}
a.one:visited{
    color: greenyellow;
    font-style: italic;
}
a.one:hover{
    color:orangered;
    font-style: oblique;
}

a.two:link{
    color: blue;
    font-style: normal;
}
a.two:visited{
    color: purple;
    font-style: italic;
}
a.two:hover{
    color: cyan;
    font-style: oblique;
}


/*Oldjuk meg (táblázat használata nélkül), hogy egymás mellé kerüljön több kép-szöveg páros (a
képhez tartozó szöveg a kép jobboldalán helyezkedjen el, és az összetartozó kép illetve szöveg legyen
bekeretezve)*/

.size{
    box-sizing: border-box;
}
  
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
    border-style: solid;
  }
  
.row::after {
    content: "";
    clear: both;
    display: table;
}
  
.description{
    float: right;
    width: 15%;
    padding: 3px;
}
  
img {
    float: left;
}


img.spec{
    width: 450px;
}