footer{
    bottom: 0px;
    height: 45px;
    margin-left: 44%;
    position: fixed;
    width: 100%;
}
#container {
    border: solid 2px black;
    position: relative;
    padding: 5px 0;
    margin: 0px 5px;
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    white-space: nowrap;
}

.smaller {
    margin-left: 7%;
    font-size: x-small;
}

.error-hidden{
    opacity: 0;
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
}

.error-shown{
    opacity: 1;
}

input:invalid{
    border: 1px solid red;
}

